<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="container p-4 mx-auto">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <a href="http://localhost:3000/user/google"
        ><button type="button" class="text-white bg-zinc-800 rounded px-4 py-2">
          google login
        </button></a
      >
      <a href="http://localhost:3000/user/facebook"
        ><button type="button" class="text-white bg-zinc-800 rounded px-4 py-2">FB login</button></a
      >
      <a href="http://localhost:3000/user/line"
        ><button type="button" class="text-white bg-zinc-800 rounded px-4 py-2">
          Line login
        </button></a
      >
      <a href="http://localhost:3000/user/discord"
        ><button type="button" class="text-white bg-zinc-800 rounded px-4 py-2">
          Discord login
        </button></a
      >
    </div>
  </body>
</html>
